@import "tailwindcss";
@plugin "daisyui";

.bg-color{
    background: #026B50;
}
.button-bg{
    background: #8aeb60;
    color: #014036;
}
.text{
    color: #f5f5f5;
}
.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* thin light line */
}
.btn-ghost:hover{
     background:none
}
/*
Teal Green	#026B50	Slightly lighter, still rich and dark.
Medium Green	#037C5C	Noticeably lighter but not too bright.
Sea Green	#048C6A	A fresh, vibrant green.
Mint Green	#06A67D	Light, bright, and modern.
Pastel Green	#3FC1A9
*/